{% extends "base.html" %}

{% block content %}

<!-- Start: 1 Row 1 Column -->
<div>
    <!-- <div class="container-fluid" style="padding: 0px 30px;"> -->
    <h2>Tutorial Name</h2>
    <!-- </div> -->
</div>
<!-- End: 1 Row 1 Column -->

<!-- Start: Sidebar -->
<!-- <div> -->
<!-- <div class="container-fluid" style="padding: 0px 30px;margin: 0px;height: 100%;"> -->
<div class="row"
    style="margin: inherit;margin-right: inherit;margin-left: inherit;margin-bottom: 10px;margin-top: 20px;">
    <!-- Start: Navigation (left) -->
    <div class="col-md-3" style="padding: 0px;">
        <div class="row" style="margin: inherit;width: 100%;margin-bottom: 10px;">
            <div class="col" style="height: 100%;padding: 0px;">
                <div style="width: 100%;"><a class="btn text-left border rounded-0" data-toggle="collapse"
                        aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button"
                        style="padding: 15px;width: 100%;background-color: #bebdbd;">Show Content</a>
                    <div class="collapse" id="collapse-1" style="padding: 15px;padding-bottom: 0px;">
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: inherit;width: 100%;margin-bottom: 10px;">
            <div class="col" style="height: 100%;padding: 0px;">
                <div style="width: 100%;"><a class="btn text-left border rounded-0" data-toggle="collapse"
                        aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button"
                        style="padding: 15px;width: 100%;background-color: #bebdbd;">Show Content</a>
                    <div class="collapse" id="collapse-2" style="padding: 15px;">
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: inherit;width: 100%;margin-bottom: 10px;">
            <div class="col" style="height: 100%;padding: 0px;">
                <div style="width: 100%;"><a class="btn text-left border rounded-0" data-toggle="collapse"
                        aria-expanded="false" aria-controls="collapse-3" href="#collapse-3" role="button"
                        style="padding: 15px;width: 100%;background-color: #bebdbd;">Show Content</a>
                    <div class="collapse" id="collapse-3" style="padding: 15px;">
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: inherit;width: 100%;margin-bottom: 10px;">
            <div class="col" style="height: 100%;padding: 0px;">
                <div style="width: 100%;"><a class="btn text-left border rounded-0" data-toggle="collapse"
                        aria-expanded="false" aria-controls="collapse-4" href="#collapse-4" role="button"
                        style="padding: 15px;width: 100%;background-color: #bebdbd;">Show Content</a>
                    <div class="collapse" id="collapse-4" style="padding: 15px;">
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: inherit;width: 100%;margin-bottom: 10px;">
            <div class="col" style="height: 100%;padding: 0px;">
                <div style="width: 100%;"><a class="btn text-left border rounded-0" data-toggle="collapse"
                        aria-expanded="false" aria-controls="collapse-5" href="#collapse-5" role="button"
                        style="padding: 15px;width: 100%;background-color: #bebdbd;">Show Content</a>
                    <div class="collapse" id="collapse-5" style="padding: 15px;">
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                        <p style="margin: 0px;">Collapse content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- End: Navigation (left) -->
    <!-- Start: Content (right) -->
    <div class="col-md-9">
        <div class="row">
            <div class="col">
                <h3 class="d-inline-flex" style="padding: 0;margin-bottom: 30px;">Heading</h3>
            </div>
            <div class="col d-flex d-lg-flex justify-content-lg-end" style="padding: 0px;"><button
                    class="btn btn-outline-dark" type="button"
                    style="margin-top: 0px;padding: 5px 10px;height: 40px;margin-right: 15px;">Mark
                    Complete</button></div>
        </div>
        <h5 style="padding: 0;">Subtitle</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ornare lectus sit amet est placerat in. Phasellus faucibus scelerisque eleifend
            donec pretium. Aliquet nibh praesent
            tristique magna sit amet purus gravida quis.</p>
        <h5 style="padding: 0;">Subtitle</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ornare lectus sit amet est placerat in. Phasellus faucibus scelerisque eleifend
            donec pretium. Aliquet nibh praesent
            tristique magna sit amet purus gravida quis.</p>
        <h5 style="padding: 0;">Subtitle</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ornare lectus sit amet est placerat in. Phasellus faucibus scelerisque eleifend
            donec pretium. Aliquet nibh praesent
            tristique magna sit amet purus gravida quis.</p>
    </div>
    <!-- End: Content (right) -->
</div>
<!-- </div> -->
<!-- End: Sidebar -->

{% endblock %}