{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
<h3>Create <small class="text-muted">a new tutorial here!</small></h3>
<hr>

<div class="row">
    <div class="col">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <h3>Modules</h3><hr>
        {{ formset|crispy }}
        <input type="submit" class="btn btn-success" value="submit">
      </form>
    </div>
  </div>

{% endblock %}