<a href="{% url 'tutorials:tutorial-detail-page' tutorial.id %}">
    <div class="col-md-4" style="/*margin: 20px 0px;*/">
        <div class="card">
            <img class="card-img-top w-100 d-block" height="200px">
            <div class="card-body">
                <h5 class="card-title">{{ tutorial.title }}</h5>
                <p class="text-truncate card-text">
                    <!-- Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. -->
                    {{ tutorial.description }}
                </p>
                <a class="card-link" href="#">tag-1</a>
                <a class="card-link" href="#">tag-2</a>
            </div>
        </div>
    </div>
</a>